body {
  font: 20px Arial, sans-serif;
}



.navbar {
  background-color: rgb(98, 97, 104);
}

.quem-somos {
  background-color: rgb(184, 188, 188);
  color: white;
}

.margin {
  padding-bottom: 50px;
  padding-top: 10px;
}

.parceiros {
  background-color: rgb(165, 218, 235);
}

.bg-footer {
  background-color: black;
  color: white;
}